<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.4" xmlns="http://java.sun.com/xml/ns/j2ee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="https://jakarta.ee/xml/ns/jakartaee https://jakarta.ee/xml/ns/jakartaee/web-app_6_0.xsd">
    <filter>
        <filter-name>AuthCheck</filter-name>
        <filter-class>filter.AuthCheck</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>AuthCheck</filter-name>
        <url-pattern>/account/personal_profile.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthCheck</filter-name>
        <url-pattern>/homestay/homestay_register/step1.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthCheck</filter-name>
        <url-pattern>/homestay/homestay_register/step2.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthCheck</filter-name>
        <url-pattern>/homestay/homestay_register/step3.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthCheck</filter-name>
        <url-pattern>/homestay/homestay_register/step4.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthCheck</filter-name>
        <url-pattern>/homestay/homestay_register/step5.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthCheck</filter-name>
        <url-pattern>/admin/ht_register_approve/request_detail.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>AuthCheck</filter-name>
        <url-pattern>/admin/ht_register_approve/list_request.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>Admin</filter-name>
        <filter-class>filter.Admin</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Admin</filter-name>
        <url-pattern>/admin/ht_register_approve/request_detail.jsp</url-pattern>
    </filter-mapping>
    <filter-mapping>
        <filter-name>Admin</filter-name>
        <url-pattern>/admin/ht_register_approve/list_request.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>Homestay_register_filter</filter-name>
        <filter-class>filter.Homestay_register_filter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Homestay_register_filter</filter-name>
        <url-pattern>/homestay/homestay_register/step1.jsp</url-pattern>
    </filter-mapping>
    <filter>
        <filter-name>Homestay_manage_filter</filter-name>
        <filter-class>filter.Homestay_manage_filter</filter-class>
    </filter>
    <filter-mapping>
        <filter-name>Homestay_manage_filter</filter-name>
        <url-pattern>/homestay/homestay_manage/approveBookings.jsp</url-pattern>
    </filter-mapping>
    <servlet>
        <servlet-name>AuthorizePayment</servlet-name>
        <servlet-class>controller.payment.AuthorizePayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ExecutePayment</servlet-name>
        <servlet-class>controller.payment.ExecutePayment</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewHomestay</servlet-name>
        <servlet-class>controller.search.ViewHomestay</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>AuthorizePayment</servlet-name>
        <url-pattern>/payment/authorize</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ExecutePayment</servlet-name>
        <url-pattern>/payment/execute</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewHomestay</servlet-name>
        <url-pattern>/viewhomestay</url-pattern>
    </servlet-mapping>
    <servlet>
        <servlet-name>CreateFeedbackServlet</servlet-name>
        <servlet-class>controller.feedback.CreateFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFeedbacksServlet</servlet-name>
        <servlet-class>controller.feedback.GetFeedbacksServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>DeleteFeedbackServlet</servlet-name>
        <servlet-class>controller.feedback.DeleteFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>EditFeedbackServlet</servlet-name>
        <servlet-class>controller.feedback.EditFeedbackServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>GetFeedbackServlet</servlet-name>
        <servlet-class>controller.feedback.GetFeedbackServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CreateFeedbackServlet</servlet-name>
        <url-pattern>/homestay/feedback/create</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFeedbacksServlet</servlet-name>
        <url-pattern>/homestay/feedback/getall</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>DeleteFeedbackServlet</servlet-name>
        <url-pattern>/homestay/feedback/delete</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>EditFeedbackServlet</servlet-name>
        <url-pattern>/homestay/feedback/edit</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>GetFeedbackServlet</servlet-name>
        <url-pattern>/homestay/feedback/get</url-pattern>
    </servlet-mapping>
</web-app>
