.body{
    box-sizing: border-box;
}
.navbar .navbar-brand{
    max-height: 100px;
}
.navbar-brand img {
    width: 150px;
    height: auto;
}
.navbar-nav li{
    margin-left: 20px;
}

.hero-section {
    background: url('../img/home/home_banner.jpg') no-repeat center center;
    background-size: cover;
    height: 90vh;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.hero-section::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.hero-content {
    position: relative;
    text-align: center;
   
    width: 60%; /* Increased width */
    margin: 0 auto; /* Center the search form */
}

.hero-content h1 {
    font-size: 3rem;
    color: white;
}

.search-form {
    background: rgba(255, 255, 255, 0.9);
    padding: 20px;
    border-radius: 10px;
}

.footer-links {
    padding: 20px;
    background: #f8f9fa;
}

.footer-links a {
    text-decoration: none;
    color: #000;
    margin-right: 20px;
}

.dropdown-menu a{
    text-align: left;
}
.nav-item li{
    margin-left: 0;
}
.nav-item li a{
    padding-left: 10px;
    padding-right: 0;
}
.homestay-icon{
    margin-right: 5px;
}
.load-icon{
    margin-left: 10px;
}
.nav-content {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar-nav {
    flex: 1;
    display: flex;
    justify-content: flex-end;
}
